<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add connectionString ="Cadena_Manu" name =""/>
		<add connectionString ="Cadena_Facu" name ="server=.; database = CATALOGO_P3_DB; integrated security = true"/>	
	</connectionStrings>
	<appSettings>
		<add key="image-folder" value="C:\Users\facu\Pictures\otros\"/>
	</appSettings>
</configuration>